flows_chaimdeiMac-2.json
[{"id":"2ed8e2b1.a7b2fe","type":"tab","label":"Mi Devices Overview","disabled":false,"info":""},{"id":"8f0fea8f.81b208","type":"xiaomi-configurator","z":"","name":"xiaomi","ip":"192.168.2.205","sid":"7811dcb903c1","deviceList":[{"sid":"158d000210997b","desc":"无线开关","model":"switch"},{"sid":"158d0001e744cb","desc":"人体感应","model":"motion"},{"sid":"158d00020eef1a","desc":"温湿度","model":"sensor_ht"}],"key":"k0y78fm00jpbrzkf"},{"id":"3d616cf.c66a594","type":"xiaomi-gateway in","z":"2ed8e2b1.a7b2fe","name":"xiaomi","gateway":"8f0fea8f.81b208","ip":"192.168.2.205","x":103,"y":197,"wires":[["5bbb176e.f88248","3507f1be.bb7e0e","b3a8e7f9.cfd588","4b759d5f.3683b4","500887d.1e78678"]]},{"id":"5bbb176e.f88248","type":"xiaomi-ht","z":"2ed8e2b1.a7b2fe","gateway":"8f0fea8f.81b208","name":"温湿度","sid":"lumi.158d00020eef1a","x":412,"y":141,"wires":[[]]},{"id":"3507f1be.bb7e0e","type":"xiaomi-motion","z":"2ed8e2b1.a7b2fe","gateway":"8f0fea8f.81b208","name":"","sid":"lumi.158d0001e744cb","motionmsg":"","nomotionmsg":"","output":"0","x":437,"y":202,"wires":[[]]},{"id":"b3a8e7f9.cfd588","type":"xiaomi-switch","z":"2ed8e2b1.a7b2fe","gateway":"8f0fea8f.81b208","name":"无线开关","sid":"158d000210997b","x":420,"y":255,"wires":[[]]},{"id":"4b759d5f.3683b4","type":"xiaomi-gateway","z":"2ed8e2b1.a7b2fe","gateway":"8f0fea8f.81b208","name":"","x":434,"y":315,"wires":[[]]},{"id":"361091a7.eff89e","type":"xiaomi-ht","z":"2ed8e2b1.a7b2fe","gateway":"8f0fea8f.81b208","name":"","sid":"lumi.158d00020eef1a","x":481,"y":565,"wires":[["bbd07e80.22d15"]]},{"id":"cbe86678.08a5c8","type":"xiaomi-motion","z":"2ed8e2b1.a7b2fe","gateway":"8f0fea8f.81b208","name":"","sid":"lumi.158d0001e744cb","motionmsg":"","nomotionmsg":"","output":"0","x":501,"y":629,"wires":[["bbd07e80.22d15"]]},{"id":"f2cf64dd.ac40d8","type":"xiaomi-switch","z":"2ed8e2b1.a7b2fe","gateway":"8f0fea8f.81b208","name":"床头无线开关","sid":"lumi.158d000210997b","x":501,"y":689,"wires":[["bbd07e80.22d15","12882ea9.f42bf1","c60baa1c.a0f0d8"]]},{"id":"341959d5.75d416","type":"xiaomi-gateway","z":"2ed8e2b1.a7b2fe","gateway":"8f0fea8f.81b208","name":"","x":492,"y":755,"wires":[["f0c8a9fe.c16818"]]},{"id":"61d2d08c.02608","type":"inject","z":"2ed8e2b1.a7b2fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":689,"wires":[["341959d5.75d416"]]},{"id":"c9a86fbe.982de","type":"xiaomi-plug-wifi","z":"2ed8e2b1.a7b2fe","name":"插座","ip":"192.168.2.31","onmsg":"","offmsg":"","output":"0","x":336,"y":973,"wires":[[]]},{"id":"bbd07e80.22d15","type":"xiaomi-actions read","z":"2ed8e2b1.a7b2fe","name":"","x":816,"y":593,"wires":[["6efef2eb.8d4fac"]]},{"id":"f0c8a9fe.c16818","type":"xiaomi-actions get_id_list","z":"2ed8e2b1.a7b2fe","name":"","x":819,"y":765,"wires":[["6efef2eb.8d4fac"]]},{"id":"f3df3450.95eb28","type":"xiaomi-actions gateway_light","z":"2ed8e2b1.a7b2fe","name":"","brightness":"7","hexRgbColor":"#fc5812","color":{"red":252,"green":88,"blue":18},"x":874,"y":818,"wires":[["6efef2eb.8d4fac"]]},{"id":"a8eb163a.1d43e8","type":"xiaomi-actions gateway_sound","z":"2ed8e2b1.a7b2fe","name":"","mid":"27","volume":"1","x":884,"y":868,"wires":[[]]},{"id":"8448e55c.4c8898","type":"xiaomi-actions gateway_stop_sound","z":"2ed8e2b1.a7b2fe","name":"","x":895,"y":931,"wires":[["6efef2eb.8d4fac"]]},{"id":"12882ea9.f42bf1","type":"xiaomi-actions click","z":"2ed8e2b1.a7b2fe","name":"","x":811,"y":669,"wires":[["6efef2eb.8d4fac"]]},{"id":"c60baa1c.a0f0d8","type":"xiaomi-actions double_click","z":"2ed8e2b1.a7b2fe","name":"","x":831,"y":709,"wires":[["6efef2eb.8d4fac"]]},{"id":"6efef2eb.8d4fac","type":"xiaomi-gateway out","z":"2ed8e2b1.a7b2fe","name":"xiaomi","gateway":"8f0fea8f.81b208","ip":"192.168.2.205","x":1171,"y":769,"wires":[]},{"id":"60865b8f.b57de4","type":"xiaomi-actions on","z":"2ed8e2b1.a7b2fe","name":"","x":188,"y":869,"wires":[["c9a86fbe.982de"]]},{"id":"af4af384.a968a","type":"xiaomi-actions off","z":"2ed8e2b1.a7b2fe","name":"","x":171,"y":1096,"wires":[["c9a86fbe.982de"]]},{"id":"48f87b59.2b4cb4","type":"comment","z":"2ed8e2b1.a7b2fe","name":"Filter incoming","info":"","x":420,"y":40,"wires":[]},{"id":"5939bd7c.72fe24","type":"comment","z":"2ed8e2b1.a7b2fe","name":"Outgoing","info":"","x":420,"y":500,"wires":[]},{"id":"500887d.1e78678","type":"xiaomi-all","z":"2ed8e2b1.a7b2fe","gateway":"8f0fea8f.81b208","name":"","onlyModels":["sensor_ht,weather.v1"],"excludedSids":[],"x":421,"y":88,"wires":[[]]},{"id":"b611f7da.4ee448","type":"inject","z":"2ed8e2b1.a7b2fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"x":485.5,"y":1020,"wires":[["8d43bd6d.86b6f"]]},{"id":"967ab395.f7d72","type":"inject","z":"2ed8e2b1.a7b2fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":488,"y":959,"wires":[["311fb49d.32606c","341959d5.75d416"]]},{"id":"311fb49d.32606c","type":"xiaomi-gateway","z":"2ed8e2b1.a7b2fe","gateway":"8f0fea8f.81b208","name":"","x":667,"y":970,"wires":[["f3df3450.95eb28"]]},{"id":"8d43bd6d.86b6f","type":"xiaomi-gateway","z":"2ed8e2b1.a7b2fe","gateway":"8f0fea8f.81b208","name":"","x":657,"y":1021,"wires":[["8448e55c.4c8898","bb09d833.90a598"]]},{"id":"34fa0774.34f838","type":"inject","z":"2ed8e2b1.a7b2fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":69,"y":963,"wires":[["60865b8f.b57de4"]]},{"id":"26c006c1.def06a","type":"inject","z":"2ed8e2b1.a7b2fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":68,"y":1015,"wires":[["af4af384.a968a"]]},{"id":"bb09d833.90a598","type":"xiaomi-actions gateway_light","z":"2ed8e2b1.a7b2fe","name":"","brightness":"5","hexRgbColor":"#beebc5","color":{"red":190,"green":235,"blue":197},"x":887,"y":981,"wires":[["6efef2eb.8d4fac"]]},{"id":"82472453.c7b0d8","type":"xiaomi-actions gateway_light","z":"2ed8e2b1.a7b2fe","name":"","brightness":"5","hexRgbColor":"#ff0066","color":{"red":255,"green":0,"blue":102},"x":885,"y":1038,"wires":[["6efef2eb.8d4fac"]]},{"id":"4ed893db.17851c","type":"inject","z":"2ed8e2b1.a7b2fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"7","crontab":"","once":false,"onceDelay":0.1,"x":481,"y":1084,"wires":[["46d3afe8.3aa07"]]},{"id":"46d3afe8.3aa07","type":"xiaomi-gateway","z":"2ed8e2b1.a7b2fe","gateway":"8f0fea8f.81b208","name":"","x":663,"y":1084,"wires":[["82472453.c7b0d8"]]},{"id":"7bda2a13.070fc4","type":"Mic","z":"2ed8e2b1.a7b2fe","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"plughw:1,0","rate":"22050","silenceTimeout":0,"exitOnSilence":false,"debug":false,"active":true,"x":230.5,"y":1273,"wires":[["7d611670.c763d8"]]},{"id":"7d611670.c763d8","type":"debug","z":"2ed8e2b1.a7b2fe","name":"","active":true,"console":"false","complete":"true","x":495,"y":1273,"wires":[]}]